body{
    background-color: beige;
}

h1{ 
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkred;
}

h2{    
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkred;
}

p{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}